.containerInput {
    display: inline-flex;
    flex-direction: column;
}

.containerInput label {
    user-select: none;
    color: var(--color-sub-text);
}

.containerInput.disabled .fieldWrapper {
    background: var(--color-input-disbled-background);
}

.containerInput label .labelText {
    font-size: .85em;
    display: block;
    padding: var(--xs) var(--xs) var(--s) 0;
}

.containerInput .fieldWrapper {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background: var(--color-input-background);
    color: var(--color-text-input);
    border:2px solid transparent;
    padding: 0 var(--xs);
    transition: .1s;
}


.containerInput .iconDest {
    display: flex;
    align-items: center;
    color: var(--color-text);
    background: none;
    border: 2px solid transparent;
    padding: var(--xs);
    border-radius: var(--xs);
}

.containerInput .iconDest.switcher {
    cursor: pointer;
}


.containerInput .input {
    background: none;
    font-size: .9em;
    outline: none;
    padding: var(--s);
    box-sizing: border-box;
    color: var(--color-text-input);
    height:40px;
    border:none;
    width:100%;
}


.containerInput.focus .fieldWrapper {
    background: var(--color-input-background-focus);
    border: 2px solid var(--color-input-border-focus);
    box-shadow: 0px 3px 4px rgb(109 69 154 / 30%);
}

.containerInput .iconDest.switcher:focus {
    outline: none;
    background: var(--color-input-background-focus);
    border-color: var(--color-input-border-focus);
}

.containerInput .switcher:active {
    margin-top:2px;
}

.containerInput .loaderWrapper {
    display: inline-flex;
    width:20px;
    height:20px;
    align-items: center;
    justify-content: center;
}

.containerInput.focus > label {
    color: var(--color-text);
}

.containerInput .input.hasAlerts {

}

.containerInput.errors .fieldWrapper {
    border-color: var(--color-error-input-border)
}

.containerInput .aItem:first-of-type {
    padding-top: var(--s);
}

.containerInput .aItem {
    font-size: 0.85em;
    padding: var(--xs) 0 0 0;
    display: flex;
    gap: var(--xs);
    align-content: center;
    color: var(--color-error-text);
}

.containerInput .aItem.tip {
    color: var(--color-tip-text);
    font-size: 0.8em;
}

.containerInput .aItem.error {
    color: var(--color-error-text);
}

.containerInput .aItem span {
    display: flex;
    align-items: center;
}

.containerInput .aItem.success {
    color: var(--green);
}
