.inputLabel {
    display: inline-flex;
    flex-direction: column-reverse;
}


.inputLabel label {
    font-size: 0.85em;
    display: block;
    color: var(--color-sub-text);
    padding: var(--xs) var(--xs) var(--s) 0;

}

.inputLabel .input {
    border-radius: var(--border-radius);
    background: var(--color-input-background);
    font-size: 0.9em;
    color: var(--color-text-input);
    outline: none;
    padding: var(--s);
    box-sizing: border-box;
    height:40px;
    border:1px solid transparent;
    transition: .1s;
}

.inputLabel .input:focus {
    background: var(--color-input-background-focus);
    border: 1px solid var(--color-input-border-focus);
    box-shadow: 0px 3px 4px rgb(109 69 154 / 30%);
}

.inputLabel .loaderWrapper {
    display: inline-flex;
    width:20px;
    height:20px;
    align-items: center;
    justify-content: center;
}

.inputLabel .input:focus + label {
    color: var(--color-text);
}

.inputLabel .input.hasAlerts {

}

.inputLabel .input.hasErrors {
    border-color: var(--color-error-input-border)
}

.inputLabel .aItem:first-of-type {
    padding-top: var(--s);
}

.inputLabel .aItem {
    font-size: 0.85em;
    padding: var(--xs) 0 0 0;
    display: flex;
    gap: var(--xs);
    align-content: center;
    color: var(--color-error-text);
}

.inputLabel .aItem.tip {
    color: var(--color-tip-text);
    font-size: 0.8em;
}

.inputLabel .aItem.error {
    color: var(--color-error-text);
}

.inputLabel .aItem span {
    display: flex;
    align-items: center;
}

.inputLabel .aItem.success {
    color: var(--green);
}
