.loader {
    display: inline-block;
    position: relative;
}

:root {
    --small: 14;
    --medium: 24;
    --animation-duration: 0.7s; /* drum'n'bass bit :) */
}

.loader.small {
    width: calc(var(--small) * 1px);
    height: calc(var(--small) * 1px);
}

.loader.medium {
    width: calc(var(--medium) * 1px);
    height: calc(var(--medium) * 1px);
}

.worm {
    stroke-dasharray: 17;
    stroke-dashoffset: 8;
    rx: 2;
    stroke-linecap: round;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loader.white .worm {
    animation-name: crawl, whiteColorization;
    stroke: white;
}

.loader.dark .worm {
    animation-name: crawl, darkColorization;
    stroke: #6D459A;
}

.cavern {
    rx: 2;
}

.loader.white .cavern {
    stroke: rgba(225, 225, 225, .08);
}

.loader.dark .cavern {
    stroke: rgba(109, 69, 154, .4);
}

@keyframes whiteColorization {
    50% {
        opacity: .5;
    }
}


@keyframes darkColorization {
    0% {
        stroke: #6D459A;
    }
    33.3% {
        stroke: #AA436F;
    }
    66.6% {
        stroke: #C53998;
    }
    100% {
        stroke: #6D459A;
    }
}

@keyframes crawl {
    50% {
        stroke-dashoffset: -8;
    }
    100% {
        stroke-dashoffset: -24;
    }
}
