/* SignUp */

.signUpModal .modal {
    width:600px;
}

.signUpModal .cols {
    display: flex;
    gap: var(--xl);
}

.signUpModal .cols .col1 {
    width:60%;
    font-size: 0.9em;
}

.signUpModal .cols .col1 ul {
    padding-left: var(--xl);
}

.signUpModal .cols .col1 ul li {
    padding: var(--xxs) 0;
}

.signUpModal .cols .col1, .signUpModal .cols .col2 {
    width:54%;
    padding-right: var(--m);
}

.signUpModal .cols .col2 {
    width:46%;
}

.signUpModal .signUpForm {
    display: flex;
    gap: var(--s);
    flex-direction: column;
}

.alphaAttention {
    padding: var(--xxs);
    border-radius: var(--m);
    background: rgb(88,55,132);
    background: linear-gradient(310deg, rgba(88,55,132,1) 0%, rgba(109,69,154,1) 100%);
    box-shadow: var(--shadow-button);
    margin-bottom: var(--xl);
}

.alphaAttention .content {
    background: rgb(88, 55, 132);
    color: #a169c2;
    padding: var(--l);
    border-radius: var(--m);
    background: var(--color-second);
}

.signUpModal .alphaAttention p {
    padding: 0;
    margin: 0;
}

.signUpModal .signUpBenefits .item {
    display: flex;
}

.signUpModal .signUpBenefits .item:not(:last-of-type) {
    margin-bottom: var(--l);
}

.signUpModal .signUpBenefits .item .iconCell {
    width: auto;
    padding: 0 var(--m);
}

.signUpModal .signUpBenefits p {
    padding: 0;
    margin: 0;
}

.alphaAttention p:not(:last-of-type) {
    padding-bottom: var(--m);
}

.signUpModal .submitResults > strong {
    color: var(--color-tip-completed);
    font-weight: 400;
}

.signUpModal .submitResults p {
    color: var(--color-text)
}

.signUpModal .resultsBar {
    display: flex;
    gap: var(--l);
}
