.amount {
}

.amount.sell {
    color: var(--color-sell);
}

.amount.buy {
    color: var(--color-buy);
}

.rate .value {
}

.tradeSum {
    font-size: 0.9em;
    color: var(--color-sub-text);
    padding-top: var(--xxs);
}

.baseTicker {
    font-weight: bold;
}

.quoteTicker {
    font-weight: 200;
    color: var(--color-sub-text);
}

.exTicker {
    padding-top: var(--xxs);
    font-size: 0.9em;
    color:var(--color-text);
}

.lastTrade {
    animation-name: blink;
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

@keyframes blink {
    0% { color: inherit  }
    50% { color: white }
    100% { color: inherit }
}


