.aItem {
    font-size: 0.85em;
    padding: var(--xs) 0 0 0;
    display: flex;
    gap: var(--xs);
    align-content: center;
    color: var(--color-error-text);
}


.aItem:first-of-type:not(:last-of-type) {
    padding-top: var(--s);
}


.aItem {
    font-size: 0.85em;
    padding: var(--xs) 0 0 0;
    display: flex;
    gap: var(--xs);
    align-content: center;
    color: var(--color-error-text);
}

.aItem.tip {
    color: var(--color-tip-text);
    font-size: 0.8em;
}

.aItem.error {
    color: var(--color-error-text);
}

.aItem span {
    display: flex;
    align-items: center;
}

.aItem.success {
    color: var(--green);
}
