.bottomBar {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    z-index: 100;
    background: var(--color-second);
    height: 20px;
    display: flex;
    padding: var(--s) var(--l);
    border-top: 1px solid var(--color-dark);
}

.bottomBar .connection {
    width: 50%;
    color: var(--color-sub-text);
}
