.bottomBar {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    z-index: 100;
    background: var(--color-second);
    display: flex;
    gap: var(--xl);
    padding: 6px var(--l) 12px var(--l);
    border-top: 1px solid var(--color-dark);
}

.bottomBar .barItem {
    display: flex;
    align-items: center;
    gap: var(--s);
    color: var(--color-sub-text);
}

.bottomBar .barItem .userState {
    color: var(--color-text);
}


.bottomBar .state {
    display: inline-flex;
    align-items: center;
}

.bottomBar .state .bullet {
    display: inline-flex;
    margin-right: var(--xs);
}

.bottomBar .state.disconnected .bullet, .bottomBar .state.wrongAccessToken .bullet {
    background: var(--color-error-input-border);
}

.bottomBar .state.authorization .bullet {
    background: var(--color-pending);
}

.bottomBar .state.connected .bullet {
    background: var(--green);
    box-shadow: 0 0 6px rgba(0,255,0,.7);
}

.bottomBar .state.disconnected .bullet {
    box-shadow: 0 0 6px rgba(255,11,11,.8);
}

.bottomBar .bullet {
    width:8px;
    height:8px;
    margin-top:1px;
    border-radius: 50%;
    display: inline-block;
    background: #f1f1f1;
}
