.box.topMenuBar {
    padding: 0 var(--l);
    display: flex;
    border-radius: 0;
    font-size: 1.1em;
    justify-content: space-between;
}

.navMenu, .userMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    height:44px;
}

.navMenu {
    display: inline-flex;
    gap:var(--xl);
}

.navMenu a {
    color: var(--color-text);
    text-decoration: none;
    display: inline-flex;
    border-bottom: 3px solid transparent;
    align-items: center;
}

.navMenu a.active {
    border-color: var(--color-purple);
}

.userMenu {
    display: inline-flex;
    align-items: center;
    gap:var(--m);
}

.formAction, .inUpSwitcher {
    display: block;
    width:100%;
    padding: var(--s) 0;
}

.formAction .button {
    width:100%;
}

.inUpSwitcher {
    font-size: 0.8em;
    color: var(--color-sub-text);
    text-align: center;
}

