.box.topMenuBar {
    padding: 0 var(--l);
    display: flex;
    border-radius: 0;
    font-size: 1.16em;
    font-weight: 300;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

.navMenu, .userMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 46px;
}

.navMenu {
    display: inline-flex;
    align-items: center;
}

.navMenu a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0 var(--l);
    display: flex;
    align-items: center;
    border: none;
    user-select: none;
    min-height: 100%;
    transition: color .2s;
}

.navMenu a:hover {
    color: var(--color-text-hovered);
}

.navMenu a.active {
    background: var(--color-highlight);
    color: var(--color-text-hovered);
}

.userMenu {
    display: inline-flex;
    align-items: center;
    gap:var(--m);
}

.formAction, .inUpSwitcher {
    display: block;
    width:100%;
    padding: var(--s) 0;
}

.formAction .button {
    width:100%;
}

.inUpSwitcher {
    font-size: 0.8em;
    color: var(--color-sub-text);
    text-align: center;
}

