@font-face {
    font-family: 'JBMono';
    font-weight: 400;
    src: local('JBMono'), url('assets/fonts/JBMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JBMono';
    font-weight: bold;
    src: local('JBMono'), url('assets/fonts/JBMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'JBMono';
    font-weight: 500;
    src: local('JBMono'), url('assets/fonts/JBMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'JBMono';
    font-weight: 300;
    src: local('JBMono'), url('assets/fonts/JBMono-Light.woff2') format('woff2');
}

html, body {
    font-family: JBMono, Serif;
    font-size: 14px;
    padding:0;
    margin:0;
    background: var(--color-dark);
    color:var(--color-text);
}

a {
    color:var(--color-link);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-weight: normal;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    color: #efeeee;
}

:root {
    --xxs: 2px;
    --xs: 4px;
    --s: 8px;
    --m: 12px;
    --l: 24px;
    --xl: 32px;
    --xxl: 64px;

    --border-radius: 4px;

    --color-dark: #151B25;
    --color-second: #283342;
    --color-first: #232e3d;
    --color-third: #3a495e;
    --color-fourth: #AEB8C8;

    --color-text: #AEB8C8;
    --color-tip-text: #8ba6d3;
    --color-tip-completed: #528a16;
    --color-pending: #f1a44d;
    --color-sub-text: #546579;
    --color-link: #8f65be;

    --color-ava-bg: var(--color-sub-text);
    --color-ava-text: var(--color-text);
    --ava-s: 24px;
    --ava-m: 32px;

    --color-input-disabled-background: #1f2938;
    --color-input-disabled-text: #546579;

    --color-input-background: #394659;
    --color-input-border-focus: #6D459A;
    --color-input-background-focus: #283042;
    --color-text-input: #9bb1cb;

    --shadow-button: 0px 3px 6px rgba(119, 76, 168, 0.3);

    --color-purple: #C53998;
    --color-text-purple: #dc42a9;
    --color-icon-purple-focused: #9467bc;
    --color-purple-active: #af3087;
    --color-violet: #6D459A;
    --color-violet-active: #7f4fb4;

    --color-error-text: #d24e4e;
    --color-error-input-border: #b74848;
    --color-alert-input-border: #b77348;

    --color-sell: #c53838;
    --color-buy: #38a22d;

    --btn-color-violet: #7b376e;

    --green: #38a22d;
}

.pointer {
    cursor: pointer;
}
